<div class="card h-100">
	<div class="card-body p-0">
		{% if cart_settings.enable_checkout %}
			{% if cart_settings.enable_checkout_page %}
				<button class="btn btn-primary btn-checkout font-md w-100" type="button" onclick="window.location.href='/checkout'">
					{{ _("Proceed to Checkout") }}
				</button>
			{% else %}
				<button class="btn btn-primary btn-place-order font-md w-100" type="button">
					{{ _("Place Order") }}
				</button>
			{% endif %}
		{% else %}
			<button class="btn btn-primary btn-request-for-quotation font-md w-100" type="button">
				{{ _("Request for Quote") }}
			</button>
		{% endif %}
	</div>
</div>