{% extends "templates/web.html" %}
{% from "webshop/templates/includes/macros.html" import recommended_item_row %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumbs %}
<div class="item-breadcrumbs small text-muted">
	{% include "templates/includes/breadcrumbs.html" %}
</div>
{% endblock %}

{% block page_content %}
<div class="product-container item-main">
	{% from "webshop/templates/includes/macros.html" import product_image %}
	<div class="item-content">
		<div class="product-page-content" itemscope itemtype="http://schema.org/Product">
			<!-- Image, Description, Add to Cart -->
			<div class="row mb-5">
				{% include "templates/generators/item/item_image.html" %}
				{% include "templates/generators/item/item_details.html" %}
			</div>
			
			<!-- Product Bundle Components -->
			{% include "templates/generators/item/item_bundle_components.html" %}
		</div>
	</div>
</div>

<!-- Additional Info/Reviews, Recommendations -->
{% set has_tabs = show_tabs and tabs %}
{% set has_specs = website_specifications %}
{% set has_content = doc.website_content %}
{% set has_reviews = shopping_cart.cart_settings.enable_reviews %}
{% set show_recommended_items = shopping_cart.cart_settings.enable_recommendations %}
{% set has_fbt = shopping_cart.cart_settings.enable_frequently_bought_together and frequently_bought_together %}
{% set has_recommendations = show_recommended_items or has_fbt %}
{% set has_content_to_show = has_tabs or has_specs or has_content or has_reviews or has_recommendations %}

{% if has_content_to_show %}
<div class="d-flex flex-wrap product-info-wrapper">
	<!-- Recommendations section (will be first on mobile) -->
	{% if has_recommendations %}
	{% if has_tabs or has_specs or has_content or has_reviews %}
		{% if has_fbt %}
			{% set recommendations_col_class = 'col-lg-6' %}
		{% else %}
			{% set recommendations_col_class = 'col-lg-3' %}
		{% endif %}
	{% else %}
		{% set recommendations_col_class = 'col-lg-12' %}
	{% endif %}
	<div class="col-12 {{ recommendations_col_class }} mt-4 order-1 order-lg-2 recommendations-wrapper">
		<div class="row">
			<!-- Recommended Items -->
			{% if show_recommended_items and recommended_items %}
				{% set rec_inner_col = 'col-12' if recommendations_col_class == 'col-lg-3' else 'col-md-6' %}
				<div class="col-12 {{ rec_inner_col }} recommended-item-section">
					{% set website_items = recommended_items %}
					{% set carousel_title = _("Recommended") %}
					{% set carousel_id = "recommended-products-carousel" %}
					{% include "templates/includes/product_carousel.html" %}
				</div>
			{% endif %}

			<!-- Frequently Bought Together -->
			{% if shopping_cart.cart_settings.enable_frequently_bought_together and frequently_bought_together %}
				{% set fbt_inner_col = 'col-12' if recommendations_col_class == 'col-lg-3' else 'col-md-6' %}
				<div class="col-12 {{ fbt_inner_col }} frequently-bought-section">
					<span class="recommendation-header">{{ _("Frequently Bought Together") }}</span>
					<div class="product-container mt-2 recommendation-container">
						{% for item in frequently_bought_together[:4] %}
							{{ recommended_item_row({
								"website_item_name": item.web_item_name,
								"route": item.route,
								"website_item_thumbnail": item.thumbnail or item.website_image,
								"price_info": {
									"price_list_rate": item.price,
									"currency": item.currency,
									"formatted_price": item.formatted_price
								} if item.price else None
							}) }}
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	{% endif %}

	<!-- Info and reviews section (will be second on mobile) -->
	{% if has_tabs or has_specs or has_content or has_reviews %}
	{% if has_recommendations %}
		{% if has_fbt %}
			{% set info_col_class = 'col-lg-6' %}
		{% else %}
			{% set info_col_class = 'col-lg-9' %}
		{% endif %}
	{% else %}
		{% set info_col_class = 'col-lg-12' %}
	{% endif %}
	<div class="col-12 {{ info_col_class }} product-container mt-4 order-2 order-lg-1 {{ 'pt-0' if has_tabs else '' }}">
		<div class="item-content {{ 'mt-minus-2' if has_tabs else '' }}">
			<div class="product-page-content" itemscope itemtype="http://schema.org/Product">
				<!-- Product Specifications Table Section -->
				{% if has_tabs %}
					<div class="category-tabs">
						<!-- tabs -->
							{{ web_block("Section with Tabs", values=tabs, add_container=0,
								add_top_padding=0, add_bottom_padding=0)
							}}
					</div>
				{% elif has_specs %}
					{% include "templates/generators/item/item_specifications.html"%}
				{% endif %}

				<!-- Advanced Custom Website Content -->
				{{ doc.website_content or '' }}

				<!-- Reviews and Comments -->
				{% if has_reviews %}
					{% include "templates/generators/item/item_reviews.html"%}
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endif %}

{% endblock %}

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{{ include_script("frappe-web.bundle.js") }}
{{ include_script("controls.bundle.js") }}
{{ include_script("dialog.bundle.js") }}
<script>
	frappe.boot = {{ boot | json }}
	// for backward compatibility of some libs
	frappe.sys_defaults = frappe.boot.sysdefaults;
</script>
{% endblock %}
